.movies-more-button {
  padding: 50px 0 80px 0;
  text-align: center;
}

.movies-more-button_main {
  padding: 11px 60px 9px;
  background-color: #F4F4F4;
  border: 0;
  cursor: pointer;
  width: 320px;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Phone */
@media (max-width: 450px) {
  .movies-more-button_main {
    padding: 11px 20px 9px;
  }
}
